* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: normal;
}

.page-wrapper {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  background-color: #31343d;
  margin: 0px;
  justify-content: space-between;
}

.left {
  display: flex;
}

.left h1 {
  background-color: #91ccce;
  color: #31343d;
  border-top: #91ccce;
  padding-left: 40px;
  padding-right: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;
}

.right a {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 5px;
  padding: 0 5px;
  font-size: 20px;
  color: #91ccce;
  text-decoration: none;
  border-bottom: 3px solid #91ccce;
  scroll-behavior: smooth;
}

.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/02-hero-bg.jpg");
  z-index: -1;
}

.hero-banner h2 {
  display: flex;
  margin-right: 50px;
  height: fit-content;
  background-color: #91ccce;
}

/* MAIN GRID AREA - WITH ABOUT ME, WORK CONTACT */
#mainGrid {
  margin: 2px;
  display: grid;
  grid-template-rows: 200px 500px 100px;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "about-me image text"
    "work projects projects"
    "contact-me links links"
}

#about-me {
  grid-area: about-me;
  border-right: 3px solid #31343d;
  margin-bottom: 20px;
  margin-top: 10px;
}

#text {
  grid-area: text;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
}

#image {
  grid-area: image;
  display: flex;
  display: inline-block;
  flex-direction: row;
  margin: 10px;
  height: 150px;
  width: 600px;
  background-image: url(./images/Me.JPG);
  background-size: cover;
  background-position: center;
}

#work {
  grid-area: work;
  border-right: 3px solid #31343d;
  margin-bottom: 10px;
  margin-top: 15px;
}

#projects {
  grid-area: projects;
}

#contact-me {
  grid-area: contact-me;
  border-right: 3px solid #31343d;
  margin-bottom: 2px;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: right;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 10px;
  color: #31343d;
}

#projectGrid {
  display: grid;
  margin: 10px;
  grid-template-rows: 250px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "surf-report surf-report"
    "led-wall calculator"
    "pastel-puzzle run-buddy"
}


.project-block {
  display: flex;
  align-items: end;
  text-decoration: none;
}

.project-block h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #91ccce;
  margin-bottom: 10px;
  text-decoration: none;
  color: #31343d
}

.project-block p {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: normal;
}

#surf-report {
  display: flex;
  grid-area: surf-report;
  border: 3px solid #91ccce;
  margin: 10px;
  background-image: url("./images/02-portfolio-2.jpg");
}

#surf-report p {
  font-size: 10px;
  font-weight: normal;
}

#led-wall {
  grid-area: led-wall;
  border: 3px solid #91ccce;
  margin: 10px;
  background-image: url("./images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  border: 3px solid #91ccce;
  margin: 10px;
  background-image: url("./images/02-portfolio-3.jpg");
}

#pastel-puzzle {
  grid-area: pastel-puzzle;
  border: 3px solid #91ccce;
  margin: 10px;
  background-image: url("./images/02-portfolio-4.jpg");
}

#run-buddy {
  grid-area: run-buddy;
  border: 3px solid #91ccce;
  margin: 10px;
  background-image: url("./images/02-run-buddy.jpg");
}

.links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.links a {
  text-decoration: none;
  border-bottom: 3px solid #31343d;
  padding: 0 5px;
  color: #31343d
}

/* @media screen only {} */

@media screen and (min-width:100px) and (max-width: 600px) {
  .right {
    flex-direction: column;
  }

  .hero-banner {
    width: 100%;
  }

  .heading {
    align-items: flex-start;
    padding-left: 0px;
    border-right: none;
  }

  #about-me,
  #work,
  #contact-me {
    border-right: none;
    margin-bottom: none;
    flex-direction: row;
  }

  #text,
  #image {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }




  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  #mainGrid {
    grid-template-rows: 100px 100px 100px 100px 700px 100px 100px;
    grid-template-areas:
      "about-me"
      "image"
      "text"
      "work"
      "projects"
      "contact-me"
      "links"
  }


  #projectGrid {
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 600px;
    grid-template-areas:
      "surf-report"
      "led-wall"
      "calculator"
      "pastel-puzzle"
      "run-buddy"
    ;
  }
}