* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navGrid {
  margin: none;
  display: grid;
  background-color: #31343d;
  grid-template-rows: 70px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "name navigation"
}

#name {
  background-color: #91ccce;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 30px;
  color: #31343d;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 50px;
}

/* Nav link styling */

.navGridArea a {
  color: #91ccce;
  display: flex;
  align-content: flex-end;
  text-decoration: none;
  border-bottom: 3px solid #91ccce;
  margin: 3px;
}

.navGridArea {
  margin: 5px;
}



/* p {
  margin: 0;
} */

#subtitle {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  background-color: #91ccce;
}

/* MAIN GRID AREA - WITH ABOUT ME, WORK CONTACT */
#mainGrid {
  margin: 2px;
  display: grid;
  grid-template-rows: 200px 500px 100px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "about-me text text"
    "work projects projects"
    "contact-me links links"
}

#about-me {
  grid-area: about-me;
  border-right: 3px solid #31343d;
}

#text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
}

#work {
  grid-area: work;
  border-right: 3px solid #31343d;
}

#projects {
  grid-area: projects;
}

#projectGrid {
  display: grid;
  margin: 10px;
  grid-template-rows: 250px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "surf-report surf-report"
    "led-wall calculator"
    "pastel-puzzle run-buddy"
}

#surf-report {}

#led-wall {}

#calculator {}

#pastel-puzzle {}

#run-buddy {}

#contact-me {
  grid-area: contact-me;
  border-right: 3px solid #31343d;
}

#links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border-bottom: 3px solid #31343d; */
}


.mainGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.heading {
  display: block;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/* #about-me .heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; */


/* .mainGridArea #about-me {
  display: flex;
  align-items: flex-start;
} */

/* p {
  margin: 0px;
} */