* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: end;
}

p {
  margin: 0;
}

h2 {
  display: flex;
  justify-content: end;
}

#mainGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "about-me text text"
    "work projects projects"
    "contact-me links links"
}

#about-me {
  grid-area: about-me;
}

#text {
  grid-area: text;
}

#work {
  grid-area: work;
}

#projects {
  grid-area: projects;
}

#contact-me {
  grid-area: contact-me;
}

#links {
  grid-area: links;
}

.mainGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}