* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: normal;
}

/* #navGrid {
  margin: none;
  display: grid;
  background-color: #31343d;
  grid-template-rows: 70px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "name navigation"
} */

/* .hero-banner {
  width: 100px;
  height: 50px;
} */

.nav {
  display: flex;
  background-color: #31343d;
  margin: 0px;
  justify-content: space-between;
}

.left {
  display: flex;
}

.left h1 {
  background-color: #91ccce;
  color: #31343d;
  border-top: #91ccce;
  padding-left: 40px;
  padding-right: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;
}

.right a {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 5px;
  padding: 0 5px;
  font-size: 20px;
  color: #91ccce;
  text-decoration: none;
  border-bottom: 3px solid #91ccce;
}

/* #navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 50px;
} */

/* Nav link styling */

/* .navGridArea a {
  align-content: flex-end;
}

.navGridArea {
  margin: 5px;
}

/* p {
  margin: 0;
} */

.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/02-hero-bg.jpg");
}


.hero-banner h2 {
  display: flex;
  margin-right: 50px;
  height: fit-content;
  background-color: #91ccce;
}

/* MAIN GRID AREA - WITH ABOUT ME, WORK CONTACT */
#mainGrid {
  margin: 2px;
  display: grid;
  grid-template-rows: 200px 500px 100px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "about-me text text"
    "work projects projects"
    "contact-me links links"
}

#about-me {
  grid-area: about-me;
  border-right: 3px solid #31343d;
}

#text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
}

#work {
  grid-area: work;
  border-right: 3px solid #31343d;
}

#projects {
  grid-area: projects;
}

#contact-me {
  grid-area: contact-me;
  border-right: 3px solid #31343d;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 300px;
}

#projectGrid {
  display: grid;
  margin: 10px;
  grid-template-rows: 250px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "surf-report surf-report"
    "led-wall calculator"
    "pastel-puzzle run-buddy"
}

#surf-report {
  display: flex;
  grid-area: surf-report;
  background-image: url("./images/02-portfolio-2.jpg");
  margin: 10px;
}

#led-wall {
  grid-area: led-wall;
  background-image: url("./images/02-portfolio-1.jpg");
  margin: 10px;
  line-height: 3px;
}

#led-wall p {
  font-size: 10px;
  font-weight: normal;
}

#calculator {
  grid-area: calculator;
  background-image: url("./images/02-portfolio-3.jpg");
  margin: 10px;
}

#pastel-puzzle {
  grid-area: pastel-puzzle;
  background-image: url("./images/02-portfolio-4.jpg");
  margin: 10px;
}

#run-buddy {
  grid-area: run-buddy;
  background-image: url("./images/02-run-buddy.jpg");
  margin: 10px;
}

.project-block {
  display: flex;
  align-items: end;
}

.project-block h4 {
  background-color: #91ccce;
}



.links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
  border-bottom: 3px solid #31343d;
  padding: 0 5px;
  color: #31343d
}


/* .mainGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column;
} */

/* #about-me .heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; */


/* .mainGridArea #about-me {
  display: flex;
  align-items: flex-start;
} */

/* p {
  margin: 0px;
} */